img {
  margin-bottom: 1.5rem;
}

img:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.home section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}

.opinion {
  display: flex; /* this is so that the percentage appears after the phrase, on the same line */
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.opinion:hover {
  font-weight:bold;
  background-color: #00ff00;
}

.italic-info {
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 2px solid black;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  .opinion:hover {
    background-color: #007700;
  }
  .opinion {
    border-bottom: 1px solid grey;
  }
  .italic-info {
    color: #ccc;
    border-bottom: 2px solid #bbb;
  }
}

@media (prefers-color-scheme: light) {
  .opinion:hover {
    background-color: #00ffff;
  }
}

.resource {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-align: left;
  text-decoration: none;
  color: #222;
  background-color: #f1f1f1;
  border: 1px solid transparent;
}

.resource:hover {
  border: 1px solid #000;
  box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
  .home section {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .resource {
    color: #ccc;
    background-color: #161616;
  }
  .resource:hover {
    border: 1px solid #bbb;
  }
  button {
    border: 1px solid #fff;
  }
}
